DATABASE_DB=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_HOST=
QDRANT_HOST=
QDRANT_PORT=

YANDEX_FOLDER_ID=
YANDEX_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SES_FROM_EMAIL=
VERIFY_KEY=
