services:
  auth:
    build:
      dockerfile: ./Dockerfile
      context: ./auth_service
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_DB=${DATABASE_DB}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_HOST=db
    ports:
      - "8000:8000"
    restart: unless-stopped

  core:
    build:
      dockerfile: ./Dockerfile
      context: ./core_service
    depends_on:
      db:
        condition: service_healthy
      auth:
        condition: service_started
    environment:
      - DATABASE_DB=${DATABASE_DB}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_HOST=db
    ports:
      - "8001:8000"
    restart: on-failure # -> unless-stopped

  db:
    image: postgres:16.4
    environment:
      - POSTGRES_DB=${DATABASE_DB}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  frontend:
    build:
      dockerfile: ./Dockerfile
      context: ./frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8000
    depends_on:
      - auth
      - core
    restart: unless-stopped
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public

volumes:
  postgres_data:


