@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Jost';
}
.header_div{
    background-color: #FFE851;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
    height: 8%;
    display: flex;
    align-items: center;
    
}
.header_p{
    font-size: 120%;
    font-weight: 800;
    margin-left: 5%;
}
.request-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 50%;
    margin-top: 10%;
    transform: translate(-50%,0%);
    gap: 5px;
}

.retry-button{
    border-radius: 55px;
    width: 20%;
    padding: 3% 1%;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
}
.empty_state {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 150%;
    font-weight: 500;
}
.loading_state {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 150%;
    font-weight: 500;
}

.container-out {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-in {
    display: flex;
    flex-direction: row;
    background-color: #b8b8b8;
    border-radius: 55px;
}

.couple{
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
}

.p1{
    font-size: 100%;
    font-weight: 700;
    margin-left: 5%;
}
.p2{
    font-size: 90%;
    font-weight: 500;
    margin-left: 5%;
    margin-top: -2%;
}
.button_request{
    border-radius: 55px;
    padding: 2% 2%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 110%;
    font-weight: 600;
    font-family: 'Jost';
    margin-right: 10%;
}
